<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--<security-constraint> TODO
        <web-resource-collection>
            <web-resource-name>SecureConnection</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>WS_User</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>SSL Required</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
    <!--<security-role>
        <role-name>WS_User</role-name>
    </security-role>-->
    <!--<login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config>-->


    <!--<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/stockticker-servlet.xml</param-value>
    </context-param>-->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--<init-param> TODO
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>-->
        <!--<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>prv.mark.project.stockticker.config.StockTickerWebConfig</param-value>
        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>
